<a href="https://colab.research.google.com/github/VishnuBhaarath/LINEAR-REGRESSION/blob/master/LinearRegressionFromScratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [0]:
data = pd.read_csv('ex1data1.txt', sep=",", header=None)
data.columns = ["X", "Y"]

In [435]:
data.head()

        X        Y
0  6.1101  17.5920
1  5.5277   9.1302
2  8.5186  13.6620
3  7.0032  11.8540
4  5.8598   6.8233

In [436]:
data.columns

Index(['X', 'Y'], dtype='object')

In [0]:
data['bias']=1

In [438]:
data

          X         Y  bias
0    6.1101  17.59200     1
1    5.5277   9.13020     1
2    8.5186  13.66200     1
3    7.0032  11.85400     1
4    5.8598   6.82330     1
..      ...       ...   ...
92   5.8707   7.20290     1
93   5.3054   1.98690     1
94   8.2934   0.14454     1
95  13.3940   9.05510     1
96   5.4369   0.61705     1

[97 rows x 3 columns]

In [0]:
x=data[['bias','X']]
y=data['Y']
m=len(y)
x.shape
t=[1]

In [0]:
X=x.values
Y=y.values

In [0]:
Y=Y.reshape(97,1)

In [0]:
theta0=0;
theta1=0;
theta=[[theta0],[theta1]];

In [446]:
theta

[[0], [0]]

In [447]:
h=X @ theta

array([[0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.]])

In [0]:
t=np.subtract(h,Y)
t

In [450]:
np.sum(np.square(t))/194

32.072733877455676

In [0]:
alpha=0.01
theta0=0
theta1=0

In [0]:
for i in range(1500):
    temp0=theta0-(0.01/97)*(np.sum(t))
    temp1=theta1-(0.01/97)*(np.sum(np.multiply(t,(X[:,1].reshape(97,1)))))
    theta0=temp0;
    theta1=temp1;
    theta=[[theta0],[theta1]];
    h=X @ theta;
    t=np.subtract(h,Y)

In [453]:
theta

[[-3.6302914394043606], [1.166362350335582]]